@import '../../styles/variables.scss';
.box {
   display: flex;
   margin: 5px;
   border-bottom: 1px solid rgb(144, 135, 135);
   padding-bottom: 5px;
   color: $font-color-default;
   svg {
      height: 15px;
      width: 15px;
      margin-right: 3px;
   }
}

