@import '../../../styles/variables.scss';

.avatar {
   position: relative;
   display: flex;
   flex-direction: column;
   .login {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $background-default;
      text-align: center;
      bottom: 0;
      margin: 0 !important;
      width: 100%;
   }
   
   img {
   height: 120px;
   width: 120px;
   border-radius: 50%;
   border: 3px solid rgb(170, 160, 160)
   }
   
}